[project]
name = "chesnok"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.128.0",
    "ruff>=0.14.13",
    "uvicorn>=0.40.0",
]
